
<%= form_for @tip, url: create_user_tip_path, method: "create" do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-md-offset-2 col-sm-offset-2">
        <div class="genre-select">
          <p class="yellow">Pick a Genre</p>
          <%= f.select :genre, ['art', 'beauty', 'health', 'food', 'home', 'travel'] %>
        </div>
        <div class="pic-select">
          <p class="yellow">Choose a Picture</p>
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 content">
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_area :content, placeholder: "Enter your tip here!", rows: "5" %>

      </div>
    </div>
    <div class="row">
      <%= f.submit "Post It!" %>
    </div>
  </div>


<% end %>
