<%= form_for @tip, url: update_user_tip_path, method: "patch" do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :content, placeholder: "Enter your tip here!" %>
  </div>
  <div>
    <%= f.label "Submit a new picture for your tip" %>
    <%= f.file_field :avatar%>
    <%= f.submit "Post Updated Tip!" %>
  </div>
<% end %>
