- if current_user.nil?
  .container.user-false
    %h4 Find out more life tips by signing up or logging in!
    %br
    %h3 LIFE TIP OF THE DAY
    .large-tip
      -# image here
      -# pull in important and most thumbs up tip here
      -# for now, this is placeholder stuff
      %h5 Use coconut oil in your hair once a week to get super soft hair that lasts a month!
      %h5.pull-right -User1234

- else
  .container-fluid.user-true
    .row.justify-content-center
      .col-sm-4.align-self-center
        %h4.bigtip Use coconut oil in your hair once a week to get super soft hair that lasts a month!
        .text tip of the day
      .col-sm-4.align-self-center
        = link_to image_tag( 'beauty1.jpg'), 'http://www.google.com'
        .text beauty
      .col-sm-4.align-self-center
        = link_to image_tag( 'exercise1.jpg'), 'http://www.google.com'
        .text health
      .col-sm-4.align-self-center
        = link_to image_tag( 'food3.jpg'), 'http://www.google.com'
        .text food
      .col-sm-4.align-self-center
        = link_to image_tag( 'home4.jpg'), 'http://www.google.com'
        .text home
      .col-sm-4.align-self-center
        = link_to image_tag( 'travel2.jpg'), 'http://www.google.com'
        .text travel

    .formgroup
      .col-sm-12
        %input{:placeholder => "Title"}
        %input{:placeholder => "Genre"}
        %textarea{:placeholder => "Add your tip! (10,000 words max.)", :type => "text-area"}
      %button.form-btn.pull-right submit
