-# Navbar Start
.row.profile
  .col-md-2
    .profile-sidebar
      -# User Title
      .profile-usertitle
        .profile-usertitle-name
          %a{:href => "#"}
            User1234

      -# User Pic
      .profile-userpic
        %a{:href => "#"}
          = image_tag @user.avatar.url, class: "img-responsive" #size: "150x100" or (:medium)
          -# %img.img-responsive{:alt => "", :src => "https://files.slack.com/files-tmb/T0351JZQ0-F5HHG3EN4-7f9ab0f32e/seijin_480.png"}

      -# Menu
      .profile-usermenu
        %ul.nav
          %li
            %a{:href => "#"}
              Beauty
          %li
            %a{:href => "#", :target => "_blank"}
              Creativity/Art
          %li
            %a{:href => "#"}
              Fitness/Health
          %li
            %a{:href => "#"}
              Food
          %li
            %a{:href => "#"}
              Living/Apt/home
          %li
            %a{:href => "#"}
              Travel
-# End Navbar

.container
  %h1.usertip-header TIPS by YOU!
  %p
    = @user.first_name
    = @user.last_name
  - @tips.each do |tip|
    .usertip
      .usertip-title
        = tip.title
      .usertip-content
        = tip.content
      .usertip-options
        = link_to "Delete", delete_user_tip_path(@user.id, tip.id), data: { confirm: "are you sure?" }, method: :delete
        = link_to "Edit", edit_user_tip_path(@user.id, tip.id)
  = link_to "Add New Tip", new_user_tip_path
