<%= render ('/layouts/largenav') %>
<div class = "row centered">
  <div class= "col col-md-12 centered">
    <div class = "container-fluid form-group short-form">
      <h2>Sign in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me %><br />
            <%= f.check_box :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log me in" %>
        </div>
        <div class="field other-links">
        <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
