<header>
  <div class="jumbotron-small navbar-fixed-top">
    <div class="logo-left">
      <a href="/"><p class="life">LIFE</p><p class="better">better</p></a>
    </div>
    <span class= "flash_message">
    <% flash.each do |name, msg| %>
        <%= msg %>
      <% end %>
    </span>
    <div class="pull-right dropdown">
      <% if signed_in? %>
        <div class="dropbtn">
          Welcome, <%= current_user.first_name%>
          <%= image_tag("dropdown.png", height: "30") %>
        </div>
        <div class="dropdown-content">
          <%= link_to "View Profile", user_path(current_user) %>
          <%= link_to "Settings", edit_user_registration_path(current_user) %>
          <%= link_to "Art", '/genres/art' %>
          <%= link_to "Beauty", '/genres/beauty' %>
          <%= link_to "Food", '/genres/food' %>
          <%= link_to "Health", '/genres/health' %>
          <%= link_to "Home", '/genres/home' %>
          <%= link_to "Travel", '/genres/travel' %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        </div>
      <% else %>
        <%= button_to "Sign In", new_user_session_path %>
        <%= button_to "Sign Up", new_user_registration_path, :method => :get %>
      <% end %>
    </div>
  </div>
</header>
