!!!
%html
  %head
    %title Lifebetter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      .jumbotron
        .pull-right

          =button_to "login", new_user_session_path
          =button_to "logout", destroy_user_session_path, :method => :delete
          =button_to "signup", new_user_registration_path, :method => :get
          = console
          
         
        .text-center
          %ul
            %li.life LIFE
            %li.better better
    <!-- next two lines are for devise gem: -->
    %p.notice= notice
    %p.alert= alert
    = yield
    %footer
      .footer
        %ul
          %li ABOUT
          %li CONTACT US
          %li JJAM x GA 2017 / all rights reserved
        .pull-right
          %p logo here
