!!!
%html
  %head
    %title Lifebetter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    %footer
      .footer
        %ul
          %li
            =link_to "ABOUT US", about_path
          %br
          %li.small JJAM x GA 2017 © all rights reserved
        .pull-right
          = image_tag('logo.png', height: '50')
