!!!
%html
  %head
    %title Lifebetter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      .jumbotron
        .pull-right
          = link_to "Profile", current_user
          %button#login login
          %button#logout logout
          %button#signup sign up
        .text-center
          %ul
            %li.life LIFE
            %li.better better
    <!-- next two lines are for devise gem: -->
    %p.notice= notice
    %p.alert= alert
    = yield
    %footer
      .footer
        %ul
          %li ABOUT
          %li CONTACT US
          %li JJAM x GA 2017 / all rights reserved
        .pull-right
          %p logo here
