<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Lifebetter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="jumbotron">
        <div class="pull-right">
          <% if signed_in? %>
            <span>Welcome <%= link_to current_user.first_name, user_path(current_user)%>. </span>
            <%= button_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= button_to "Sign In", new_user_session_path %>
            <%= button_to "Sign Up", new_user_registration_path, :method => :get %>
          <% end %>

        </div>
        <div class="text-center">
          <ul>
            <li class="life">LIFE</li>
            <li class="better">better</li>
          </ul>
        </div>
        <!-- devise alerts (login -> invalid) -->
        <span class="notice">
          <%= notice %>
        </span>
        <span class="alert">
          <%= alert %>
        </span>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer">
        <ul>
          <li>ABOUT</li>
          <li>CONTACT US</li>
          <li>JJAM x GA 2017 / all rights reserved</li>
        </ul>
        <div class="pull-right">
          <p>logo here</p>
        </div>
      </div>
    </footer>
  </body>
</html>
<%= console %>
